

.header{
  min-height: 150px;
  border-right: 2px solid #CFD5D7 ;
  padding-right: 10px;


}


.content1{

  border-top: 2px solid #CFD5D7 ;
  margin-top: 10px;
  padding: 10px;



}
.sub-header{
  min-height: 150px;


}

.content2{

  border-top: 2px solid #CFD5D7 ;
  margin-top: 10px;

}

.contenido{
  background-color: RGBA( 83 , 115 , 128, 0.4  );
padding-left: 5px;
padding-right: 5px;

}
.buscador{
padding: 10px;
background-color: RGBA( 205 , 216 ,220, 0.9  )

}
.navegacion{
padding-left: 10px;
background-color: RGBA( 205 , 216 ,220, 0.9  )

}

.Inicio{

  margin-right: 15px;
 border: 1px solid #04B3ED  ;
 box-sizing: border-box;
}
.platos{

  margin-right: 15px;
 border: 1px solid #04B3ED  ;
 box-sizing: border-box;
}
.recetas{

  margin-right: 15px;
 border: 1px solid #04B3ED  ;
 box-sizing: border-box;
}
.favoritos{

padding-left: 10px;
background-color: RGBA( 205 , 216 ,220, 0.9  )

}
.thumbnail{
border: 2px solid #04B3ED;
}
.title{
 color:  #04B3ED;
 padding: 5px;
}
